ul {
  height: 40rem;
  width: 40rem;
  background: #fdfdfd;
  border: 1px solid #ccc;
  padding: 0px;
}
ul li {
  float: left;
  width: 33.3%;
  height: 33.3%;
  list-style: none;
  border: 1px solid #5dd1ec;
}
button {
  background: #ccc;
}
.active {
  background: green;
}
